.container {
  display: flex;
  flex-wrap: wrap;
  width: 480px;
  height: 480px;
  border: 2px solid black;
  margin: auto;
}

.square {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

