.container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.borderContainer {
  border: 2px solid black;
  padding: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 480px;
  height: 480px;
  border: 1px solid black;
  margin: auto;
  box-sizing: content-box; /* Add this line */
}

.square {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.controls-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.controls-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contLeftSide,
.contRightSide {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contLeftSide button,
.contRightSide button,
.contRightSide input[type="color"] {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  margin-bottom: 10px;
}
